main {
  width: 100vw;
  height: 100vh;
  background-color: #2B3A55;
  display: flex;
}

.inner__box {
  width: 90%;
  height: 90%;
  background-color: #CE7777;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dice__box-container {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 50px;
  z-index: 1;
}

.inner__box button {
  position: relative;
  top: 60px;
  width: 150px;
  height: 50px;
  outline: none;
  border-radius: 10px;
  border-width: 0px;
  cursor: pointer;
}

.inner__box h1 {
  position: absolute;
  top: 210px;
  font-size: 280px;
  opacity: 30%;
  z-index: 0;
}